/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #F4F9F9;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* Header */
header {
  text-align: center;
  height: 8vh;
  line-height: 8vh;
  background-color: #0ec7d8;
  font-family: 'Quicksand', sans-serif; /* special font stays */
  font-size: 3.5vh;
  color: #ffffff;
  text-shadow: 2px 4px 6px rgba(3, 18, 80, 0.5);
  border-bottom: 0.6vh ridge #8bddd6;
}


/* Card container */
.card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 9vh;
    gap: 3vh;
    padding: 3vh;
    border-radius: 2vh;
    border: 0.56cap ridge #B2DFDB;
    box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.08);
}

/* Profile title */
#profile-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.6vh;
    color: #3E4A89;
}

/* Profile content */
.profile {
    font-size: 2.2vh;
    color: #30393d;
    background-color: #FAFAFA;
    border-radius: 1.3vh;
    padding: 2vh;
    text-align: left;
    border: 1px solid #636b6f;
    min-width: 25vh;
}
.profile p{
    margin-top: 1vh;
}

/* Start button */
#start_btn {
    height: 5.2vh;
    width: 20vh;
    background-color: #4DB6AC;
    color: white;
    font-size: 2.1vh;
    border-radius: 1.2vh;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#start_btn:hover {
    background-color: #00c5c2;
}
