*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #FBF3D5;
    text-align: center;
}
header{
    text-align: center;
    height:6vh;
    line-height: 6vh;
    background-color: #D6A99D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
}

#question-area{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D6DAC8;
    text-align: center;
    margin-top: 9vh;
    gap:2vh;
    padding: 3vh;
    border-radius: 2vh;
    border: 1.1cap ridge #D6DAC8;
    

}
.answer-box{
    height:3vh;
    border-radius: 1.3vh;
    width:auto;
    padding: 1vh;
    
}
#question-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.submit-btn{
    height:4.5vh;
    width: 11vh;
    background-color: #FBF3D5;
    font-size: 2.1vh;
    border-radius: 1.2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit-btn:hover{
    background-color: #e3e9d1;
}
.choice-img{
    height:20vh;
    width:20vh;
}